@model System.Web.Mvc.HandleErrorInfo

@{
	ViewBag.Title = "Error";
}

@section Styles {
	<link rel="stylesheet" href="@Url.Content("~/Content/Styles/Pages/error.css")">
}

<section id="error-introduction" class="introduction">

	<header class="container">

		<h2>Kablammo!</h2>

		<p>
			Something went seriously wrong &ndash; don't worry we'll figure it out! Try again soon!
		</p>

	</header>

</section>

<section id="error" class="container">

	@if (System.Web.HttpContext.Current.IsDebuggingEnabled)
	{
		if (Model != null)
		{
			<article id="error-debug">

				<img src="/Content/Images/error.svg" />

				<h3>@Model.Exception.Message</h3>
	  
				<p>
					@Model.Exception.GetType().Name was thrown in @Model.ControllerName -> @Model.ActionName
				</p>

				<pre><code>@Model.Exception.StackTrace</code></pre>

				@{
					System.Diagnostics.StackTrace trace = new System.Diagnostics.StackTrace(Model.Exception, true);
					var frame = trace.GetFrame(0);

					var fullname = frame.GetMethod().ReflectedType.FullName;
				
					var line = frame.GetFileLineNumber();
					var column = frame.GetFileColumnNumber();
				}

			</article>
		}
	}
	else
	{
		<article id="error-friendly">

			<img src="/Content/Images/error.svg" />
	  
			<h3>An error has occurred</h3>
	  
	  		<p>
				If this error persists please contact support.
			</p>

		</article>
	}

</section>